.calculator{
    padding: 40px 30px;
    width: 650px;
    height: 850px;
    background-color: gray;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: auto;
    gap: 15px 15px;
    border-radius: 5%;
    border: 5px solid black;

}

.display{
    grid-column: 1 / 5;
    grid-row: 1;
    background-color: green;
    border: 2px solid black;
    display: flex;
    justify-content: end;
    align-items: end;
    font-weight: bolder;
    font-size: 350%;
    color:black;
    padding: 5px;
    border-radius: 3%;
}

.button{
    background-color: whitesmoke;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    font-size: 175%;
    border-radius: 10%;
    border: 2px solid black; 
}

body{
    display: flex;
    align-items: center;
    justify-content: center;
}